<!DOCTYPE html>
<html lang="en">


<body>
    <div class="container">

        <div class="row">
            <div class="col-lg-122">
                
                <%= image_tag("menuoptions.jpg") %>
                <a id = "sandcode">
                <br><br>
            </div>
        </div>
		
		<br>
		
        <div class="row">
        	
        	<div class="col-lg-122">
                <h1> Sandwiches </h1>
            </div>
            <br>
            <div class="col-md-4 img-portfolio">
                <a>
                    <%= image_tag("ham.jpg") %>
                </a>
                <h3>
                    French Ham &amp; Cheese Sandwich
                </h3>
                <p> A mixture of chopped cornichons, butter, Dijon mustard, and fresh tarragon gives this ham and cheese sandwich a French twist. </p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a>
                    <%= image_tag("turkey.jpg") %>
                </a>
                <h3>
                    Turkey, Smashed Peas, &amp; Pesto Sandwich
                </h3>
                <p> Plain turkey that gets a bright lift from mashed peas, tangy onion, and pesto. </p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a>
                    <%= image_tag("beef.jpg") %>
                </a>
                <h3>
                    <b>Roast Beef with Roasted Tomato Sandwich</b>
                </h3>
                <p> <b>Premium Item:</b> Roasted tomatoes with olive oil and rosemary with an extra dose of juicy flavor. </p>
            </div>
        </div>
		<a id = "salcode">
                <br><br><br>
        <div class="row">
        	<div class="col-lg-122">
                <h1> Salads </h1>
            </div>
            <br>
            <div class="col-md-4 img-portfolio">
                <a>
                    <%= image_tag("applesalad.jpg") %>
                </a>
                <h3>
                    Green Leaf, Chorizo, &amp; Apple Salad
                </h3>
                <p> Green Leaf Salad and crisp, sweet apple slices that balance out the spicy chorizo. </p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a>
                    <%= image_tag("vegetablesalad.jpg") %>
                </a>
                <h3>
                    Romaine &amp; Pickled Vegetable Salad
                </h3>
                <p> Romaine, Vegetables and Cannellini beans - A healthy option plenty of protein!</p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a>
                    <%= image_tag("cheddarsalad.jpg") %>
                </a>
                <h3>
                    <b>Arugula, Peach, &amp; Cheddar Salad</b>
                </h3>
                <p><b>Premium Item:</b> Peaches and Cheddar may sound like an odd combination, but the sweet, fragrant fruit perfectly complements the sharp cheese.</p>
            </div>
        </div>
		<a id = "pascode">
                <br><br><br>
			
        <div class="row">
        	
        	<div class="col-lg-122">
                <h1> Pastas </h1>
            </div>
            <br>
            <div class="col-md-4 img-portfolio">
                <a>
                    <%= image_tag("rig.jpg") %>
                </a>
                <h3>
                    Rigatoni with Meat Sauce
                </h3>
                <p> Rigatoni Pasta Dish with 100% beef sauce. Full of protein and flavor!</p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a>
                    <%= image_tag("spa.jpg") %>
                </a>
                <h3>
                    Classic Spaggetti
                </h3>
                <p>Traditional Spaghetti dish with Tomato Sauce. For the picky eater! </p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a>
                    <%= image_tag("far.jpg") %>
                </a>
                <h3>
                    <b>Farfalle with Cream Sauce</b>
                </h3>
                <p> <b>Premium Item:</b> Creamy Farfalle pasta with Tomatoes and Spices. Give this delicious dish a try today! </p>
            </div>
        </div>
        
        <a id = "wrapcode">
                <br><br><br>
        <div class="row">
        	
        	<div class="col-lg-122">
                <h1> Wraps </h1>
            </div>
            <br>
            <div class="col-md-4 img-portfolio">
                <a>
                    <%= image_tag("chickenwrap.jpg") %>
                </a>
                <h3>
                    Chicken Tomato Club Wrap
                </h3>
                <p>Chicken, Mixed Leaf Salad, Tomatoes and Light Lemon Mayo make this Club Wrap a choice you can't pass up.</p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a>
                    <%= image_tag("beefwrap.jpg") %>
                </a>
                <h3>
                    British Beef Wrap
                </h3>
                <p>Made with 100% beef, Mixed Leaf Salad, Tomatoes, Crunchy Slaw &amp; Mustard Vinaigrette. The only thing more British than this is Fish and Chips. </p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a>
                    <%= image_tag("halloumi.jpg") %>
                </a>
                <h3>
                    <b>Halloumi &amp; Pepper</b>
                </h3>
                <p> <b>Premium Item:</b> With Halloumi, Mixed Leaf Salad, Cucumbers, and Light Lemon Mayo. Now to just explain what Halloumi is to the kids!</p>
            </div>
        </div>
       	<a id = "sidecode">
                <br><br><br>
        <div class="row">
        	
        	<div class="col-lg-122">
                <h1> Basic Sides </h1>
            </div>
            <br>
            <div class="col-md-4 img-portfolio">
                <a>
                    <%= image_tag("fruitsalad.jpg") %>
                </a>
                <h3>
                    Fruit Salad
                </h3>
                <p>Fruit Salad, Yummy Tummy! Made with Blackberries, Strawberries, Grapes, Pineapple and Melon, this classic fruit salad is to die for!</p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a>
                    <%= image_tag("carrots.jpg") %>
                </a>
                <h3>
                    Carrot Fries
                </h3>
                <p>All kids want fries for lunch, so let's give it to them! Carrot Fries come with a side of light ranch for all your child's dipping pleasures! </p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a>
                    <%= image_tag("apple.jpg") %>
                </a>
                <h3>
                    Red Apple
                </h3>
                <p>Just a plain, red apple. This one is for your child, so teachers stay away!</p>
            </div>
        </div>
        <a id = "drinkcode">
                <br><br><br>
        <div class="row">
        	
        	<div class="col-lg-122">
                <h1> Basic Drinks </h1>
            </div>
            <br>
            <div class="col-md-4 img-portfolio">
                <a>
                    <%= image_tag("water.jpg") %>
                </a>
                <h3>
                    Water
                </h3>
                <p>Nothing is healthier than a cold glass of Water! Help your child stay hydrated with this beverage option.</p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a>
                    <%= image_tag("orange.jpg") %>
                </a>
                <h3>
                    Orange Juice
                </h3>
                <p> A tall glass of freshly squeezed Florida orange juice. Comes with a healthy dose of Vitamin C. </p>
            </div>
            <div class="col-md-4 img-portfolio">
                <a>
                    <%= image_tag("applejuice.jpg") %>
                </a>
                <h3>
                    Apple Juice
                </h3>
                <p> Fresh, 100% Apple Juice. Made from concentrate, with hopes it will help your kids do the same!</p>
            </div>
        </div>

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Alex Ishmael, Jaboree Muhammad & Skylar Richardson 2015</p>
                </div>
            </div>
        </footer>

    </div>
</body>

</html>
