<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="item active">
					<%= image_tag("One.jpg") %>
					<div class="carousel-caption text-center">
						<h4></h4>
					</div>
				</div>
			</div>
	</div>

        <div class="row">
        	<br><br>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Delivering Healthy Lunches Daily</h4>
                    </div>
                    <div class="panel-body">
                        <%= image_tag("healthy.jpg") %>
                        <p></p>
                        <p> Yummy Tummies strives to create and deliver the healthiest selections from local businesses straight to your child's school. School lunches have become boring and unhealthy, so lets make lunch healthy and fun again! </p>
                        <a href="/pages/about" class="btn btn-default btn-block">About Yummy Tummies</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Super Hungry? Go Premium!</h4>
                    </div>
                    <div class="panel-body">
                    	<%= image_tag("premium.jpg") %>
                    	<p></p>
                        <p> Yummy Tummies offer's two different subscription plans: Classic and Premium. Be sure to check out our premium options if you have a extraordinarily hungry student, or if you just want a little more for your buck! </p>
                        <a href="/pages/pricing" class="btn btn-default btn-block">View Subscription Details</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-122">
                <h2 class="page-header">Menu Options</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="pages/menu/#sandcode">
                    <%= image_tag("sandwiches.jpg") %>
                </a>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <a href="pages/menu/#salcode">
                    <%= image_tag("salads.jpg") %>
                </a>
            </div> 

            <div class="col-md-4 col-sm-6">
                <a href="pages/menu/#pascode">
                    <%= image_tag("pastas.jpg") %>
                </a>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4 col-sm-6">
                <a href="pages/menu/#wrapcode">
                    <%= image_tag("wraps.jpg") %>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="pages/menu/#sidecode">
                    <%= image_tag("sides.jpg") %>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="pages/menu/#drinkcode">
                    <%= image_tag("drinks.jpg") %>
                </a>
            </div> 
        </div>

        <div class="row">
            <div class="col-lg-122">
                <h2 class="page-header">At Yummy Tummies, We Guarantee Fresh Food Daily</h2>
            </div>
            <div class="col-md-6">
                <p>An one-year Yummy Tummes subscription includes:</p>
                <ul>
                    <li><strong>5 Meals A School Week</strong></li>
                    <li>Fresh Ingredients</li>
                    <li>High-Quality Menu Options</li>
                    <li>Automatic Menu Selection Services</li>
                    <li>Calorie Tracking System</li>
                    <li>and more....</li>
                    <li><strong>Reasons why you should choose Yummy Tummies</strong></li>
                    <p> Children require a variety of nutrient-dense foods such as fresh fruits, vegetables, whole grains, meat, fish and adequate calories in order to grow and develop properly. It's crucial that your child is consuming the essential nutrients she needs to grow. Calcium is of particular importance for children. An adequate calcium intake promotes optimal bone density which will assist teen growth and reduce the risk of bone loss in later life. The way children eat influences their growth and health during childhood, during adolescence and for the rest of their lives. 
                    </p>
                </ul>
            </div>
            <div class="col-md-6">
                <%= image_tag("quality.jpg") %>
            </div>
        </div>


        <br><br>


        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <%= image_tag("sign-up.png") %>
                </div>
                <br>
                <div class="col-md-12">
                    <a class="btn btn-lg btn-default btn-block" href="/pages/pricing">Sign Up Now!</a>
                </div>
            </div>
        </div>


        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Alex Ishmael, Jaboree Muhammad & Skylar Richardson 2015</p>
                </div>
            </div>
        </footer>

    </div>

</body>

</html>
