<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
	<div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address%>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class = "row">
    <%= f.input :password, :required => true %><br>&nbsp;
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <div class="field">
    <%= f.label "Add premium meals for 25$ extra a month" %><br>
    <%= f.check_box :premium %>
  </div>
  <div class="field">
<%= f.label :pay_type %><br>
 <%= f.select :pay_type, User::PAYMENT_TYPES,
 prompt: 'Select a payment method' %>
</div>

  
  
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
